* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji";
  background-image: url("../images/basketball.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}

.heading {
  background-color: rgb(191, 16, 16);
  text-align: center;
  font-style: italic;
}

.main-section {
  border: 1px solid rgb(159, 156, 156);
  width: 50%;
  margin: 0 auto;
  margin-top: 6rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.main-body {
  display: flex;
  gap: 5rem;
  background-image: url("../images/court.jpg");
  background-size: 50%;
  background-repeat: repeat;
}

.main-header {
  padding: 1rem;
  background-color: rgb(31, 36, 131);
  height: 8vh;
}

.refresh-section {
  display: flex;
  gap: 2rem;
  padding: 0.6rem;
  margin-left: 2rem;
}

.scoreboard {
  border: 1px solid rgb(10, 10, 10);
  margin-left: 2.4rem;
}

.blue-container {
  background-color: rgb(16, 7, 44);
  padding: 0.3rem;
  color: rgb(255, 243, 20);
}

.white-container {
  background-color: rgb(251, 247, 247);
  padding: 0.3rem;
  color: rgb(14, 10, 10);
}

.form-validation {
  display: flex;
}

form.add-input {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  margin-top: 0.9rem;
}

button.submit {
  padding: 0.4rem;
  border-radius: 5px;
  margin-left: 6rem;
  background-color: rgb(40, 126, 14);
  color: rgb(97, 46, 9);
}

.submit:focus {
  outline: none;
}

input {
  padding: 0.5rem;
  border-radius: 5px;
}

.input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder {
  color: #000;
}

.refresh-btn {
  background-color: rgb(188, 29, 50);
  padding: 0.5rem;
  border-radius: 8px;
  color: #fff;
}

footer {
  background-color: rgb(191, 16, 16);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(0, 0, 0);
  text-align: center;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  body {
    font-family:
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Helvetica,
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji";
    background-image: url("../images/basketball.jpg");
    background-size: 400%;
    background-repeat: no-repeat;
    object-fit: contain;
  }

  .heading {
    background-color: rgb(191, 16, 16);
    text-align: center;
    font-style: italic;
  }

  .main-section {
    border: 1px solid rgb(159, 156, 156);
    width: 100%;
    margin: 0 auto;
    margin-top: 6rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }

  .main-body {
    display: flex;
    gap: 0.5rem;
    background-image: url("../images/court.jpg");
    background-size: 100%;
    background-repeat: repeat;
  }

  .main-header {
    padding: 1rem;
    background-color: rgb(31, 36, 131);
    height: 10vh;
  }

  .refresh-section {
    display: flex;
    gap: 2rem;
    padding: 0.2rem;
    margin-left: 1rem;
  }

  .scoreboard {
    border: 1px solid rgb(10, 10, 10);
    margin-left: 2.4rem;
  }

  .blue-container {
    background-color: rgb(16, 7, 44);
    padding: 0.3rem;
    color: rgb(255, 243, 20);
  }

  .white-container {
    background-color: rgb(251, 247, 247);
    padding: 0.3rem;
    color: rgb(14, 10, 10);
  }

  .form-validation {
    display: flex;
  }

  form.add-input {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    margin-top: 0.9rem;
  }

  button.submit {
    padding: 0.4rem;
    border-radius: 5px;
    margin-left: 6rem;
    background-color: rgb(40, 126, 14);
    color: rgb(97, 46, 9);
  }

  .submit:focus {
    outline: none;
  }

  input {
    padding: 0.5rem;
    border-radius: 5px;
  }

  .input:focus {
    outline: none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  ::placeholder {
    color: #000;
  }

  .refresh-btn {
    background-color: rgb(188, 29, 50);
    padding: 0.5rem;
    border-radius: 8px;
    color: #fff;
  }

  footer {
    background-color: rgb(191, 16, 16);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
  }
}
